<html>
<body>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-content" style="max-width:800px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:10px 16px">
<h1 class="w3-large">Constanza</h1>

<h1 class="w3-medium">Colors, tastes, and everything in between: a collection</h1>
  
  <div class="w3-padding-30 w3-small">
    <div class="w3-bar">
      <a href="/about/index.asp" class="w3-bar-item w3-button"><strong>About</a></strong>
      <a href="/project/index.asp" class="w3-bar-item w3-button"><strong>The Stages Times</a></strong>
      <a href="/contact/index.asp" class="w3-bar-item w3-button"><strong>Contact</a></strong>
    </div>
  </div>
</header>

<p class="w3-small"><i>Santiaguina</i> de Chile. Currently in New York, NY. </p>
<p class="w3-small">Comms Director, New York City Council. <br> District 11. </p>
<p class="w3-small">Master of International Business, Darla Moore School of Business. <br>University of South Carolina.</p>

<p class="w3-small">I dance around storytelling. </p>

<p class="w3-small">I have a <i> deep fixation </i> on American talks shows, sitcoms, <br>
awards season, vintage advertisement and old newspapers.</p>

<p class="w3-small">Coding self-learner but with @<a href="http://www.instagram.com/cfpinela">cfpinela</a> guidance.</p>

<p class="w3-small"> This website is self-coded and a reflection of all I know about coding.</p>

<header class="w3-panel w3-center w3-opacity w3-small" style="padding:0px 16px">
  <div class="w3-padding-32">
  <div class="w3-bar">
<a href="http://www.instagram.com/cconstanzv" class="w3-border w3-bar-item w3-button w3-hide-small">Instagram</a>
<a href="http://www.twitter.com/cconstanzv" class="w3-border w3-bar-item w3-button w3-hide-small">Twitter</a>
</div>
  </div>

  <img src="/assets/flirty.jpg" >
  </header>


</body>
</html>

