<html>
<body>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-content" style="max-width:800px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:10px 16px">
<h1 class="w3-large">Constanza</h1>
  
  <div class="w3-padding-30 w3-small">
    <div class="w3-bar">
      <a href="/about/index.asp" class="w3-bar-item w3-button"><strong>About</a></strong>
      <a href="/project/index.asp" class="w3-bar-item w3-button"><strong>The Stages Times</a></strong>
    </div>
  </div>
</header>

<p class="w3-small w3-center">Hello.</p>

<header class="w3-panel w3-center w3-opacity w3-small" style="padding:0px 16px">
  <div class="w3-padding-30">
  <div class="w3-bar">

 <a href="http://www.instagram.com/cconstanzv" class="w3-border w3-bar-item w3-button w3-hide-small">Email</a>

 <br>

<a href="http://www.instagram.com/cconstanzv" class="w3-border w3-bar-item w3-button w3-hide-small">Instagram</a>

<br>

<a href="http://www.twitter.com/cconstanzv" class="w3-border w3-bar-item w3-button w3-hide-small">Twitter</a>

<br>

<a href="http://www.linkedin.com/constanza.pinelaortiz" class="w3-border w3-bar-item w3-button w3-hide-small">Linkedin</a>

<br>

<a href="http://www.linkedin.com/constanza.pinelaortiz" class="w3-border w3-bar-item w3-button w3-hide-small">Facebook</a>

</div>
  </div>

<p class="w3-small w3-center">Other stuff.</p>

<a href="https://www.dailygamecock.com/staff/constanza-pinela" class="w3-border w3-bar-item w3-button w3-hide-small">The Daily Gamecock</a>

</body>
</html>

